<header id="home_section">
    <div class="app-header">
        <div class="logo">
            <a routerLink="/">
                <img loading="lazy" class="logo-img" src="/assets/images/logo-large.png" alt="" width="auto" height="auto">
            </a>
        </div>
        <div class="app_nav d-lg-block d-none">
            <ul>
                <li><a routerLink="/home" routerLinkActive="active" >Home</a></li>
                <li><a routerLinkActive="active" (click)="scrollToSection('feature_section')">Features</a></li>
                <li><a (click)="scrollToSection('download_section')">Download</a></li>
                <li><a routerLinkActive="active" routerLink="/privacy-policy">Privacy Policy</a></li>
                <li><a routerLinkActive="active" routerLink="/term-conditions">Term & Conditions</a></li>
                <li><a routerLinkActive="active" routerLink="/contact-us">Contact Us</a></li>
            </ul>
        </div>
        <a (click)="scrollToSection('download_section')" class="btn primary-btn d-lg-block d-none">Download now</a>

        <div ngbDropdown class="mobile-nav-menu d-lg-none d-block">
            <button type="button" class="btn dropdown-menu-btn" id="dropdownBasic1" ngbDropdownToggle>
                <img loading="lazy" src="/assets/icons/burger-menu.svg" width="32" alt="">
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <ul>
                    <li ngbDropdownItem><a (click)="scrollToSection('home_section')">Home</a></li>
                    <li ngbDropdownItem><a (click)="scrollToSection('feature_section')">Features</a></li>
                    <li ngbDropdownItem><a (click)="scrollToSection('download_section')">Download</a></li>
                    <li ngbDropdownItem><a routerLink="/privacy-policy">Privacy Policy</a></li>
                    <li ngbDropdownItem><a routerLink="/term-conditions">Term & Conditions</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>