<section class="privacy-policy">
    <div class="header-title">
        <div class="card-badge">Last Update: 25 May</div>
        <h2>Privacy Policy</h2>
    </div>

    <div class="content-card">
        <p>This privacy policy governs the privacy terms of our App, landing page located at <a href="https://MatchMde.com" target="_blank">https://MatchMde.com</a>, sub-domains, and any associated web-based and mobile applications (collectively, “App”), as owned and operated by MatchMde. Any capitalized terms not defined in our Privacy Policy, have the meaning as specified in our Terms of Service.</p>
        <p>Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. We use your Personal Information only for providing and improving the App. By using the App, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible at <a href="https://MatchMde.com" target="_blank">https://MatchMde.com</a>. The following outlines our privacy policy.</p>
        <p>Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.</p>
        <p>We will collect and use personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law. We will only retain personal information as long as necessary for the fulfilment of those purposes.</p>
        <p>We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.</p>
        <p>Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.</p>
        <p>We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.</p>
        <p>We will make readily available to customers information about our policies and practices relating to the management of personal information.</p>
    </div>

    <div class="content-card">
        <h4>1. Your Privacy</h4>
        <p>MatchMde follows all legal requirements to protect your privacy. Our Privacy Policy is a legal statement that explains how we may collect information from you, how we may share your information, and how you can limit our sharing of your information. We utilize the Personal Data you offer in a way that is consistent with this Personal privacy Policy. If you provide Personal Data for a particular reason, we could make use of the Personal Data in connection with the reason for which it was provided.</p>
        <p>For example, registration info sent when developing your account, might be used to suggest products to you based on past acquisitions. We might use your Personal Data to offer access to services on the App and monitor your use of such services. MatchMde may also utilize your Personal Data and various other personally non-identifiable info gathered through the App to assist us with improving the material and functionality of the App, to much better comprehend our users, and to improve our services. You will see terms in our Privacy Policy that are capitalized. These terms have meanings as described in the Definitions section below.</p>
    </div>

    <div class="content-card">
        <h4>2. Definitions</h4>
        <p>Non-Personal Information” is information that is not personally identifiable to you and that we automatically collect when you access our App with a web browser. It may also include publicly available information that is shared between you and others. “Personally Identifiable Information” is non-public information that is personally identifiable to you and obtained in order for us to provide you our App. Personally Identifiable Information may include information such as your name, email address, and other related information that you provide to us or that we obtain about you.</p>
    </div>

    <div class="content-card">
        <h4>3. Information we collect</h4>
        <p>Generally, you control the amount and type of information you provide to us when using our App. As a Visitor, you can browse our App to find out more about our App. You are not required to provide us with any Personally Identifiable Information as a Visitor.</p>
    </div>

    <div class="content-card">
        <h4>4. Your Right</h4>
        <p>We want you to be in control of your information, so we want to remind you of the following options and tools available to you: Right to be informed: what personal data an organisation is processing and why (we provide this information to you in this Privacy Policy). Right of access: you can request a copy of your data. Right of rectification: if the data held is inaccurate, you have the right to have it corrected.</p>
        <p>Right to erasure: you have the right to have your data deleted in certain circumstances. Rights to deletion of personal information or data: you have the right to have your personal information or data deleted, and you may request us to delete or remove your data. For your protection and the protection of all of our users, we may ask you to provide proof of identity before we can answer the above requests. If you wish to execute any of these rights, please contact our Data protection officer at support@matchmde.com. at any time.</p>
    </div>

</section>
<div class="spacer-120"></div>
<section class="privacy-policy">
    <app-send-message></app-send-message>
</section>