<footer class="footer-main">
    <div class="footer-content-1" data-aos="fade-up" data-aos-offset="" data-aos-easing="ease-in-sine" data-aos-duration="600">
        <a href="/">
            <img class="mb-5" src="/assets/icons/Layer_1.svg" width="32" alt="">
        </a>
        <h1 class="text-capitalize mb-5">Get your <span class="d-lg-inline d-block">match now</span></h1>
        <div class="get-app-stores">
            <a href="https://play.google.com/store/apps/details?id=com.matchmde&hl=en&gl=SG"><img src="/assets/images/Google Play Badge.png" alt="google-play-store"></a>
            <a href="https://apps.apple.com/sg/app/matchmde-ai-dating-real-people/id1467719153"><img src="/assets/images/App Store Badge.png" alt="google-play-store"></a>
        </div>
        <div class="terms-cond">
            <a routerLink="/term-conditions">Terms & Conditions </a> | <a routerLink="/privacy-policy"> Privacy Policy</a>
        </div>
    </div>
    <div class="footer-content-2">
        <p>© 2024 Matchmde All Rights Reserved</p>
        <div class="social-platforms">
            <a href="https://twitter.com/MatchMdeApp" target="_blank"><img src="/assets/icons/Icon awesome-twitter.svg" width="25" alt="twitter"></a>
            <a href="https://www.facebook.com/matchmde/" target="_blank"><img src="/assets/icons/Icon awesome-facebook.svg" width="25" alt="facebook"></a>
            <a href="https://www.linkedin.com/company/matchmde" target="_blank"><img src="/assets/icons/Icon awesome-linkedin.svg" width="25" alt="linkedin"></a>
            <a href="https://www.youtube.com/@matchmde9745" target="_blank"><img src="/assets/icons/Icon awesome-youtube.svg" width="25" alt="youtube"></a>
        </div>
    </div>
</footer>