.main-body{
    background: linear-gradient(180deg, rgba(245, 188, 188, 0.2) 0%, rgba(245, 188, 188, 0) 100%);
    .content{
        ul{
            text-align: justify;
        }
    }
}
.card{
    background: inherit;
    border: none;
}