@import '/node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.theme.default.scss';
@import '/node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.carousel.scss';
@import '/node_modules/aos/dist/aos.css';

:root {
    --primary-color:#4B164C;
    --secondary-color:#22172A;
}
html{
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: var(--secondary-color);
    overflow-x: hidden;
}

.gradient-text{
    background: linear-gradient(278.61deg, #F94892 -7.83%, #FF7F3F 115.19%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding: 2px;
}

.gradient-bg{
    background: linear-gradient(278.61deg, #F94892 -7.83%, #FF7F3F 115.19%);
}

.primary-btn{
    padding: 12px 32px;
    background: linear-gradient(278.61deg, #22172A -7.83%, #22172A 115.19%);
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.68px;
    transition: all 0.4s ease;
    border-radius: 50px;

    &:hover{
        background: linear-gradient(278.61deg, #F94892 -7.83%, #FF7F3F 115.19%);
        color: #ffffff;
        transition: all 0.4s ease;
    }
}   

.secondary-btn{
    padding: 12px 32px;
    background: #ffffff;
    color: #22172A;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.68px;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 50px;

    &:hover{
        background: #22172A;
        color: #ffffff;
    }
}

h1{
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -5px;
}
h2{
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -2px;
}
h3{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -2px;
}
h5{
    font-size: 20px;
    font-weight: 600;
}
p{
    font-size: 18px;
    font-weight: 500;
}
.faded{
    color: #22172A;
    opacity: 0.6;
}
.faded-grey{
    color: #979797;
}

.card-badge{
    background: #FFFFFF;
    box-shadow: 0px 349px 140px rgba(0, 0, 0, 0.01), 0px 196px 118px rgba(0, 0, 0, 0.04), 0px 87px 87px rgba(0, 0, 0, 0.06), 0px 22px 48px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    padding: 11px 20px;
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
}

.spacer-140{
    height: 140px;
}
.spacer-120{
    height: 120px;
}

.card-max-width{
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.text-primary{
    color: #4B164C !important;
}

.ellipse-two{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.ellipse-three{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.match-made-modal-backdrop{
    z-index: 1040 !important;
}